<!DOCTYPE html>
<html >
	<head>
		<meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title></title>
	</head>
	<style>
		iframe{
			 /* -webkit-overflow-scrolling: touch;
			  overflow: auto; */
			      margin-left: -8px;
		}
	</style>
	<body >
		
		<iframe id="iframe"  src="https://rdapp.nbou.cn/cfr/sxcp/kfzs/index.aspx" frameborder="0"></iframe>
		
		<script type="text/javascript">
			var iframe = document.getElementById("iframe");
			iframe.style.width = window.innerWidth +'px';
			iframe.style.height = window.innerHeight + 'px';
			// window.onresize = function() {
			//     iframe.style.height = window.innerHeight + 'px';
			// }
			
		</script>
	</body>
</html>