@font-face {
  font-family: "iconfont"; /* Project id 4275126 */
  src: url('iconfont.woff2?t=1696729877004') format('woff2'),
       url('iconfont.woff?t=1696729877004') format('woff'),
       url('iconfont.ttf?t=1696729877004') format('truetype'),
       url('iconfont.svg?t=1696729877004#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhi:before {
  content: "\e67b";
}

.icon-a-Frame21:before {
  content: "\e606";
}

.icon-a-Frame3:before {
  content: "\e607";
}

.icon-a-Frame4:before {
  content: "\e608";
}

.icon-a-Frame5:before {
  content: "\e609";
}

.icon-Frame:before {
  content: "\e603";
}

.icon-a-Frame1:before {
  content: "\e604";
}

.icon-a-Frame2:before {
  content: "\e605";
}

